/* CSS Document */

body {
	background-image: url(images/csgo-blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav {
	position: fixed;
	left: -220px;
	top: 0;
	background-color: #ef8a2e;
	width: 220px;
	height: 100%;
	transition: all 0.5s;
	z-index: 1000;
}

nav #wrapper {
	position: relative;
	width: 100%;
	margin: 0;
}

nav #handle {
	position: absolute;
	left: 220px;
	top: 20px;
	width: 120px;
	height: 70px;
	background-color: #ef8a2e;
	border-radius: 0 10px 10px 0;
	cursor: pointer
}

nav #handle img {
	width: 100%;
	height: 100%;
}

nav ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin-top: 20px;
	height: 100%;
}

nav li {
	width: 80%;
	margin-left: 10%;
	text-align: center;
	margin-bottom: 10%;
}

nav li a {
	display: block;
	color: #000000;
	text-decoration: none;
	box-sizing: border-box;
	border-left: solid black 4px;
	font-size: 36px;
	transition: all 0.3s;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, transparent 50%, black 50%);
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
}

nav li a:hover {
	color: #ef8a2e;
	background-position: -100% 0%;
}

nav figure {
	margin: 5%;
	position: absolute;
	bottom: 0;
	width: 90%;
}

nav img {
	width: 100%;
}

#contentwrapper {
	width: 80%;
	margin-left: 10%;
	overflow: hidden;
}

figure img {
	width: 100%;
}

figure {
	margin: 0;
}

input::placeholder {
	color: white;
}

#alternatives {
	opacity: 0;
	transition: opacity 1s;
	margin-top: 5%;
}

#alternatives > ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.funding {
	background-color: #5a85a8;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	text-align:center;
	border-radius: 7px;
	-webkit-box-shadow: 3px 2px 49px -8px rgba(0,0,0,0.68);
	-moz-box-shadow: 3px 2px 49px -8px rgba(0,0,0,0.68);
	box-shadow: 3px 2px 49px -8px rgba(0,0,0,0.68);
}

.funding input {
	text-align:center;
	font-size: larger;
	width: 100%;
	color: white;
	padding: 10px 0 10px 0;
	border-radius: inherit;
	background-color: inherit;
	border: none;
}

.funding-alts {
	text-align: center;
	color: #999999;
}

.funding-alts > div {
	margin-top: 1%;
}

#buttons input {
	margin-left: 1%;
}

#alternatives > ul > li {
	float: left;
	width: 30%;
	margin-left: 10%;
	margin-right: 10%;
}

.choice {
	background-color: rgba(64, 77, 94, 0.4);
	color: #999999;
	border-radius: 7px;
	-webkit-box-shadow: 2px 3px 45px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 45px -15px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 45px -15px rgba(0,0,0,0.75);
	overflow: hidden;
}

#alternatives span {
	color: #ef8a2e;
}

.choice ul {
	list-style: none;
	float: left;
	padding: 5%;
	width: 90%;
}

.choice a {
	color: #ef8a2e;
	float: right;
}

.choice .mon {
	float: right;
}

.weaponinfo {
	float: left;
	width: 35%;
	margin-left: 5%;
}

.weaponinfo strong {
	float: right;
	color: #ef8a2e;
}

.separator {
	text-align: center;
	width: 100%;
	background-color: #ef8a2e;
	color: #000;
	display: block;
}

.weaponselection {
	margin:0;
	overflow: hidden;
}

.weaponselection .choice {
	float: left;
	transition: all 0.4s;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, rgba(64, 77, 94, 0.4) 50%, #ef8a2e 50%);
}

.weaponselection .choice:hover {
	background-position: 0 100%;
}

.weaponselection img {
	width: 100%;
}

.weaponinfo p {
	margin: 5px;
	color: #CCCCCC;
}

.spraypattern {
	background-color: rgba(239, 138, 46, 0.8);
	color: white;
	width: 50%;
	float: right;
	height: 100%;

}

.spraypattern figure {
	text-align: center;
	margin: 5px;
	height: 100%;
}

.spraypattern img {
	float: left;
	height: auto;
	width: 49.5%;
}

.weapons-ct {
	clear: both;
}

.weaponselection > ul {
	overflow: hidden;
	padding-top: 20px;
}

.weaponselection > ul > li {
	width: 31.65%;
	margin-left: 1%;
	cursor: pointer;
}

.spraypattern img:last-of-type {
	margin-left: 1%;
}

.weaponinformation {
	margin-top: 20px;
}

.armor {
	max-width: 50em;
	width: auto;
	margin: auto;
	float: none;
}

.defuser {
	float: right;
	margin-right: 5%;
}

.weaponinformation > ul {
	margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
	.funding {
		width: 80%;
		margin-left: 10%;
	}

	nav #handle {
		width: 60px;
	}

	nav #handle img {
		content:url("images/csgo-logo-small.png");
	}

	#alternatives > ul > li {
		float: none;
		width: 100%;
		margin: 0;
		margin-bottom: 40px;
	}

	.weaponinfo {
		float: none;
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	.spraypattern {
		float: none;
		width: 100%;
		margin: 0;
	}

	.weaponselection ul li {
		width: 100%;
		float: none;
		margin: 0;
		margin-bottom: 20px;
	}
}
