/* CSS Document */

body{
	margin: 0;
	padding: 0;
	color: #442400;
}

a{
	color: #6A3C09;
}

a:visited{
	color: #FFD4A5;	
}

#storbox{
	height: auto;
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
	position:absolute;
}

header{
	width: 100%;
	height: 70px;
	background-color:#9F692C;
}

header figure{
	display:inline-block;
	width: 60px;
	height: 60px;
	float:left;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 20px;
}

header img{
	height: 100%;
	width: 100%;
}

header h1{
	float:left;
	margin: 0;
	padding-top: 16px;
	color: #FFF;
	font-family:Verdana, Geneva, sans-serif;
	//text-shadow: 1px 1px 50px #FFF;
}

nav{
	clear:both;
}

nav a:visited{
	color: #6A3C09;	
}

nav ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

nav a{
	box-sizing:border-box;
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	text-align:center;
	float:left;
	border:solid thin #D2A560;
	text-decoration:none;
}

nav a:hover{
	background-color:#D2A560;
	transition:all ease-in 0.2s;
	-moz-transition:all ease-in 0.2s;
	-webkit-transition:all ease-in 0.2s;
	-o-transition:all ease-in 0.2s;
}

article{
	padding-top: 10px;
	clear:both;
	margin-left: 10%;
	width: 80%;
	height:auto;
}

article figure{
	float:right;
	width: 220px;
	height: 311px;
}

article img{
	height: 100%;
	width: 100%;
}	

hr{
	clear:both;
	color: #D2A560;
}

h2{
	font-family:"Arial Black", Gadget, sans-serif;
}

footer{
	clear:both;
	text-align: center;
	width: 100%;
}

